<% provide(:title, "About") %>

<div class="aboutheader b-c--nbp">
          <div class="str">
            <div class="str-c">
              <div class="str-t">About the App</div>
            </div>
          </div>
</div>


<div class="aboutheader b-c--ntp b-c--nbp">
      <div class="g g--top">
            <div class="cds-ic m-b500--l">
              <%= image_tag "marker.png", size:"50x50"%>
            </div>
            <div class="cds-c">
              <div class="cds-t t--upper m-b300">
                Being Transparent
              </div>
              <div class="cdp-st t--subinfo">
                  <em>There are many different types of sensors that serve the city, and they perform a variety of functions for the benefit of all.<br/><br>
                  Citizens have a right to know about the technology around them, especially when that technology is often not visible, or at least not
                  self-announcing.<br/><br> The goal of this application is to educate the citizens of Boston on active sensors that exist within the city limits.
                  The map shows the locations of the sensors, and clicking will show more details.</em>
              </div>
            </div>
      </div>
    </div>

  <div class="aboutheader b-c--ntp b-c--nbp">
      <div class="g g--top">
            <div class="cds-ic m-b500--l">
              <%= image_tag "heart.png", size:"50x50"%>
            </div>
            <div class="cds-c">
              <div class="cds-t t--upper m-b300">
                The Team
              </div>
              <div class="cdp-st t--subinfo">
                  <em>We, the creators, hope that this application is to your satisfaction, and that it furthers the
                  transparency between the people of Boston and the rapidly advancing technological world around them.
                  The <a href="https://www.boston.gov/"><u>City of Boston Transparency Project</u></a> is a project led by <a href="https://www.brandeis.edu/"><u>Brandeis Students</u>.</a></em>
              </div>
            </div>
      </div>
    </div>


     
<article role="article" class="node-96 node clearfix node-department-profile modstate-published desktop-100" bos_context_type="Department Profile" id="node-96">
   <div class="department-info-wrapper desktop-100">

           
<div class="b--g b--fw b">

  <div class="b-c">

    <div class="aboutheader b-c--nbp">
          <div class="str">
            <div class="str-c">
              <div class="str-t">Meet the Team</div>
            </div>
          </div>
      
          
    

  <div class="g">
    <article class="contextual-region node-15976 clearfix node modstate-published cdp m-t500 g--1 g--3--sl" bos_context_type="Person Profile">
      <a href= "https://www.linkedin.com/in/belle-scott-1072b8133/" class="cdp-l d-b p-a300">
        <div class="cdp-i field-item">
          <article>
            <%= image_tag "belle.png", size:"110x110", :class => "headshot"%>
          </article>
        </div>
        <div>
          <div class="cdp-t t--sans t--upper">
            Belle Scott
          </div>
          <div class="cdp-st t--subinfo t--g300">
            Undergraduate Student, App Developer
          </div>
          </div>
        </a>
      </article>

  <article class="contextual-region node-15976 clearfix node modstate-published cdp m-t500 g--1 g--3--sl" bos_context_type="Person Profile">
  <a href = "https://www.linkedin.com/in/rhosung-park-141637109/" class="cdp-l d-b p-a300">

                    <div class="cdp-i field-item">
        <article>
                    <picture class>
                      <%= image_tag "rho.jpg", size: "110x110", :class => "headshot"  %>
     
  </picture>   
  </article>
</div>
<div>
      <div class="cdp-t t--sans t--upper">
        Rhosung Park
      </div>

              <div class="cdp-st t--subinfo t--g300">
                      Undergraduate Student, App Developer
      
        </div>
      
    </div></a>
</article>
<article class="contextual-region node-15976 clearfix node modstate-published cdp m-t500 g--1 g--3--sl" bos_context_type="Person Profile">
  <a href= "https://www.linkedin.com/in/youbin-ahn-9490971a3/" class="cdp-l d-b p-a300">

                    <div class="cdp-i field-item">
        <article>
                      <picture>
      <%= image_tag "youbin.jpeg" , size: "110x110", :class => "headshot"  %>
      
  </picture>   
  </article>
</div>
<div>
      <div class="cdp-t t--sans t--upper">
        Youbin Ahn
      </div>

              <div class="cdp-st t--subinfo t--g300">
                      Undergraduate Student, App Developer
      
        </div>
      
    </div></a>
</article>
<article class="contextual-region node-15976 clearfix node modstate-published cdp m-t500 g--1 g--3--sl" bos_context_type="Person Profile">
  <a href= "https://www.linkedin.com/in/anyan-x-a29910139/" class="cdp-l d-b p-a300">

                    <div class="cdp-i field-item">
        <article>
                      <picture>
      <%= image_tag "anyan.jpg", size:"110x110", :class => "headshot"  %>
  </picture>   
  </article>
</div>
<div>
      <div class="cdp-t t--sans t--upper">
        Anyan Xie 
      </div>

              <div class="cdp-st t--subinfo t--g300">
                      Graduate Student, App Developer
      
        </div>
      
    </div></a>
</article>
<article class="contextual-region node-15976 clearfix node modstate-published cdp m-t500 g--1 g--3--sl" bos_context_type="Person Profile">
  <a href= "https://www.brandeis.edu/facultyguide/person.html?emplid=69957fcf6528db656418863916878ea0e4046b09"class="cdp-l d-b p-a300">

                    <div class="cdp-i field-item">
        <article>
                      <picture>
      <%= image_tag "pito.jpg", size:"110x110", :class => "headshot"  %>
  </picture>   
  </article>
</div>
<div>
      <div class="cdp-t t--sans t--upper">
        Pito Salas
      </div>

              <div class="cdp-st t--subinfo t--g300">
                      Team Leader, Professor of Computer Science at Brandeis University
      
        </div>
      
    </div></a>
</article>
<article class="contextual-region node-15976 clearfix node modstate-published cdp m-t500 g--1 g--3--sl" bos_context_type="Person Profile">
  <a href = "https://www.boston.gov/departments/new-urban-mechanics/nayeli-rodriguez" class="cdp-l d-b p-a300">

                    <div class="cdp-i field-item">
        <article>
                      <picture>
      <%= image_tag "nayeli.jpg", size:"110x110", :class => "headshot"  %>
  </picture>   
  </article>
</div>
<div>
      <div class="cdp-t t--sans t--upper">
        Nayeli Rodriguez
      </div>

              <div class="cdp-st t--subinfo t--g300">
                      Team Leader, Office of New Urban Mechanics, City of Boston
      
        </div>
      
    </div></a>
</article>

</div>


</div>  
</div>
</div>
