$('#searchInfo').attr('name', <%= j @sensor.sensor_id %>);
$('#feedback_topic').val('Sensor - ' + <%= j @sensor.sensor_id %>);
$('#searchInfo').html(
    '<div class = "id_info">' + 
        'Sensor ' + '<%= j @sensor.sensor_id %>' +
    '</div>'
);
$('#searchInfo').append(
    '<div class = "type_info">' +
        '<%= j @sensor.sensor_type %>' +
    '</div>'
);
$('#searchInfo').append(
    '<div class = "location_info">' +
        '<%= j @sensor.location %>' +
    '</div>'
);
$('#searchInfo').append(
    '<div class = "description-box"></div>'
)
<% if @sensor.owner != nil %>
    $('.description-box').append(
        '<div class = "owner_info">' +
            '<%= j @sensor.owner%>' +
        '</div>'
    );
<% else %>
    $('.description-box').append(
        '<div class = "owner_info">' +
            'Owner: ' + 'Owner not specified.' +
        '</div>'
    );
<% end %>
<% if @sensor.description != nil %>
    $('.description-box').append(
        '<div class = "description_info">' +
            'Comment: ' + '"' +'<%= j @sensor.description %>' + '"' +
        '</div>'
    );
<% end %>


