$('#searchInfo').html(
    '<div class = "id_info">' + 
        '"' + 'Sensor ' + '<%= j @sensor.sensor_id %>' + '"' +
    '</div>'
);
$('#searchInfo').append(
    '<div class = "type_info">' +
        '<%= j @sensor.sensor_type %>' +
    '</div>'
);
$('#searchInfo').append(
    '<div class = "location_info">' +
        '<%= j @sensor.location %>' +
    '</div>'
);
<% if @sensor.owner != nil %>
    $('#searchInfo').append(
        '<div class = "owner_info">' +
            '<%= j @sensor.owner%>' +
        '</div>'
    );
<% else %>
    $('#searchInfo').append(
        '<div class = "owner_info">' +
            'Owner: ' + 'Owner not specified.' +
        '</div>'
    );
<% end %>
<% if @sensor.description != nil %>
    $('#searchInfo').append(
        '<div class = "description_info">' +
            '<%= j @sensor.description %>' +
        '</div>'
    );
<% end %>


