
<div class = "container">

<p id="notice"><%= notice %></p>
      
    
<p>
  <h2>Sensor  <%= @sensor.sensor_id %></h2>
</p>
    
<p>
  <%= @sensor.sensor_type %>
</p>
      
<hr>

<p>
  <strong>Ownership</strong>
  <%= @sensor.ownership %>
</p>

<p>
  <strong>Government Owned?</strong>
  <%= @sensor.gov_owned %>
</p>

<p>
  <strong>Operation Hours</strong>
  <%= @sensor.op_hrs %>
</p>

</div>
