
<div class = "container">

  <div class = "row">
    <div class = "col-12">
      <h1>Sensor  <%= @sensor.sensor_id %></h1>
    </div>
  </div>

  <div class = "row">
    <div class = "col-12">
      <h2><%= @sensor.sensor_type %></h2>
    </div>
  </div>

  <div class = "row">
    <div class = "col-12">
      <h4><%= @sensor.location %></h4>
    </div>
  </div>

  <p>
  <p>

  <div class = "row">
    <div class = "col-6">
      <strong>Ownership</strong>
    </div>
    <div class = "col-6">
      <%= @sensor.ownership %>
    </div>
  </div>

  <div class = "row">
    <div class = "col-6">
      <strong>Government Owned?</strong>
    </div>
    <div class = "col-6">
      <%= @sensor.gov_owned %>
    </div>
  </div>

  <div class = "row">
    <div class = "col-6">
      <strong>Operation Hours</strong>
    </div>
    <div class = "col-6">
      <%= @sensor.op_hrs %>
    </div>
  </div>

</div>
