  <script>
    $(function(){
      $(".hamburger").click(function(){
        $(".cob-navbar").toggleClass("opened");
      });
    });
    
  </script>
  
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class = "nav-background">

    </div>
    <div class = "logo-area">
      <%= link_to image_tag("COB_B_white.png", height: '30'), root_path, id: "logo" %>
      <%= link_to "Transparency", root_path, id: "logo" %>
    </div>
       
    <button id = "infoBtn"> 
      <%= image_tag "info.png", size:"25x25"%>
    </button>
  <div id="myModal" class="modal">
    <div class="modal-content">
      
        <span class="close">&times;</span>
        <%= render 'layouts/user_manual' %>
      
    </div>
  </div>

<script>
var modal = document.getElementById("myModal");
var btn = document.getElementById("infoBtn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
  modal.style.display = "block";
}
span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


    <div class = "hamburger">
      <%= image_tag("hamburger-bar.svg", size: "20x20", class:"hamburger-icon") %>
    </div>

    <div class = "cob-navbar">
      <div class = "cob-navbar-list">
        <%= link_to "About us", about_path, class: "navbar-link"%>
      </div>
        
      <% if logged_in? %>
        <div class = "cob-navbar-list">
          <%= link_to "Site Administration", '/admin', class: "navbar-link"%>
        </div>
        <div class = "cob-navbar-list">
          <%= link_to "Log out", logout_path, method: :delete, class: "navbar-link" %> 
        </div>
      <% else %>
        <div class = "cob-navbar-list">
          <%= link_to "Administrator? Log in", login_path, class: "navbar-link" %>
        </div>
      <% end %>
    </div>
    

</nav>