  <script>
    $(function(){
      $(".hamburger").click(function(){
        $(".cob-navbar").toggleClass("opened");
      });
    });
    
  </script>
  
  <nav class="navbar navbar-fixed-top navbar-inverse">
  
    <div class = "logo-area">
      <%= link_to image_tag("COB_B_white.png", height: '30'), root_path, id: "logo" %>
      <%= link_to "Transparency", root_path, id: "logo" %>
    </div>
      <%#
      <div class="navbar-header">
        <button type="button" class="nav-burger" data-toggle="collapse" data-target="#cob-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>  
      %>
   
      <div class = "hamburger">
        <%= image_tag("hamburger-bar.svg", size: "20x20", class:"hamburger-icon") %>
      </div>

    
      
      <div class = "cob-navbar">
        <div class = "cob-navbar-list">
          <%= link_to image_tag("info.png", class: "info-tag", alt: "Info logo", width: "20"), about_path %> 
        </div>
          
        <% if logged_in? %>
          <div class = "cob-navbar-list">
            <%= link_to "Administrators", '/admin' %>
          </div>
          <div class = "cob-navbar-list">
            <%= link_to "Log out", logout_path, method: :delete %> 
          </div>
        <% else %>
          <div class = "cob-navbar-list">
            <%= link_to "Log in", login_path, class: "navbar-link" %>
          </div>
        <% end %>
        
      </div>
    

</nav>