<h4 class="instruction" style="font-weight:bold;">App instruction</h4><br>
<%= image_tag "main_annotation.png", :class => "instruction-img"%>

<div class="instruction">
  <h5 style="color:#ff9900; font-weight:bold;">&#9312; App title</h5>
  <ul><li>Click anytime to get back to the map</li></ul>

  <h5 style="color:red; font-weight:bold;">&#9313; Menu</h5>
  <ul><li>Click to expand to the full menu</li></ul>

  <h5 style="color:#1155cc; font-weight:bold;">&#9314; Map toggle</h5>
  <ul>
    <li><%= image_tag "map_plus.jpg", {:class => "custom-icons", :style => "height:25px; width:25px;"} %> Zoom in map</li>
    <li><%= image_tag "map_minus.jpg", {:class => "custom-icons", :style => "height:25px; width:25px;"} %> Zoom out map</li>
    <li><%= image_tag "map_location.jpg", {:class => "custom-icons", :style => "height:25px; width:25px;"} %> Show sensors around you</li>
    <li><%= image_tag "satellite-dish.svg", {:class => "custom-icons", :style => "height:25px; width:25px;"} %> Switch to terrain view</li>
  </ul>

  <h5 style="color:green; font-weight:bold;">&#9315; Sensor toggle</h5>
  <ul>
    <li><%= image_tag "neighborhood_line.svg", :class => "toggle_icon_img" %> Show/hide neighborhood lines</li>
    <li><%= image_tag "camera.svg", :class => "toggle_icon_img" %> Show/hide camera sensors</li>
    <li><%= image_tag "air_quality.svg", :class => "toggle_icon_img" %> Show/hide air quality sensors</li>
    <li><%= image_tag "counter.svg", :class => "toggle_icon_img" %> Show/hide counter sensors</li>
    <li><%= image_tag "antenna.svg", :class => "toggle_icon_img" %> Show/hide antenna sensors</li>
    <li><%= image_tag "other_sensor.svg", :class => "toggle_icon_img" %> Show/hide other sensors</li>
    <li><%= image_tag "arrow.jpg", :class => "toggle_icon_img" %> Show/hide sensor toggle</li>
  </ul>

  <h5 style="font-weight:bold;">&#9316; Search bar</h5>
  <ul><li>Search for addresses, neighborhoods and sensors</li></ul>
</div>


<br><hr><br>


<h4 class="instruction" style="font-weight:bold;">Save this app to your home screen</h4><br>
<div class="instruction">
  <h5>Click on the menu of your phone's browser</h5>
  <h5>Choose "Add to Home Screen"</h5>
  <h5>Click "Add"</h5>
</div>
<%= image_tag "download_annotation.png", :class => "instruction-img"%>